$breakpoints: (
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px
);

@mixin break($size){
  @if(map-has-key($breakpoints, $size)){
    @media (min-width: map-get($breakpoints, $size)){
      @content;
    }
  }
  @else{
    @error "No breakpoint: #{$size}";
  }
}